<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Material Dashboard 2 by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="../assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-200">
{% block body %}
{{ include('user/navbarback.html.twig') }}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Authors table</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">role</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">number</th>
                                <th class="text-secondary opacity-7"></th>
                                <th class="text-secondary opacity-7"></th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-4.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user6">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ user.nom }} {{ user.prenom }}</h6>
                                                <p class="text-xs text-secondary mb-0">{{ user.email }}</p>
                                            </div>
                                        </div>
                                    </td>
                                <td>
                                    {% for role in user.role %}
                                        {% if role=="ROLE_USER" %}

                                            <h6 class="mb-0 text-sm">SIMPLE USER</h6>
                                        {% elseif role=="ROLE_EDITOR" %}
                                            <h6 class="mb-0 text-sm">LIVREUR USER</h6>
                                        {% elseif role=="ROLE_ADMIN" %}
                                            <h6 class="mb-0 text-sm">ADMIN USER</h6>
                                        {% endif %}

                                    {% endfor %}
                                    <h6 class="mb-0 text-sm">{{ user.nom }} {{ user.prenom }}</h6>
                                    <p class="text-xs text-secondary mb-0">{{ user.age }}</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-secondary">+216 {{ user.number }}</span>
                                </td>
                                {% if user.flag %}
                                    <td class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">activated</strong> &nbsp;succes</td>

                                {% endif %}
                                {% if user.flag !=1 %}

                                    <td class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">activated</strong> &nbsp;not complete </td>

                                {% endif %}
                                <td class="align-middle">
                                 <a href="{{ path('user_show', {'id': user.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    show
                                </a>
                                </td>

                                <td class="align-middle">

                                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                    </a>
                            </td>
                                <td class="align-middle">

                                    <a href="{{ path('mail', {'id': user.id}) }}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        mail
                                    </a>
                                </td>
                                <td class="align-middle">

                                    <a  class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="delete user">
                                        {{ include('user/ban.html.twig') }}
                                    </a>
                                </td>
                                <td class="align-middle">
                                <a  class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="delete user">
                                    {{ include('user/_delete_form.html.twig') }}
                                </a>
                                </td>

                            {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            
                        </table>
                        
                    </div>
                </div>
            </div>
                                        {{ knp_pagination_render(users) }}

        </div>
    </div>
            {{ include('user/footerback.html.twig') }}

{% endblock %}
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/material-dashboard.min.js?v=3.0.0"></script>
</body>

</html>