{% include 'menu.html.twig' %}

{% block shop_content %}
<center>
<div class="col-md-12">
   <div class="row">
    <section class="new-products">
        <header class="d-flex flex-column justify-content-center align-items-center my-4">
            <h2>Nouveautés</h2>
            <div class="line"></div>
        </header>

        <div class="row">
            {% for product in latest_products %}
            
             {% set thumb = product.images|first %}
                        <div class="image-container">
                            <a href="/product/{{ product.slug }}">
                                <img HEIGHT="200" width="200" src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="product-card__image img img-fluid">
                            </a>
                        </div>
                        <div class="card-body pt-0">
                            <h4 class="product-card__heading">
                                <a href="/product/{{ product.slug }}" class="product-card__link">
                                    {{ product.name }}
                                </a>
                            </h4>
                            <div class="divider mb-2"></div>
                            <div class="product-card__price">{{ product.price }} DT</div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
    </div>
    </div>
    </div>
    </div>
                        
<br><br>
    <section class="all-products">
        <header class="d-flex flex-column justify-content-center align-items-center my-4">
            <h2>Tous les produits</h2>
            <div class="line"></div>
        </header>
        <div class="row">
            {% for product in all_products %}
                <div class="col-md-4">
                    <article class="product-card card border-0 mb-4">
                        {% set thumb = product.images|first %}
                        <div class="image-container">
                            <a href="/product/{{ product.slug }}">
                                <img height="300" width="300" src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="product-card__image img img-fluid">
                            </a>
                        </div>
                        <div class="card-body pt-0">
                            <h4 class="product-card__heading">
                                <a href="/product/{{ product.slug }}" class="product-card__link">
                                    {{ product.name }}
                                </a>
                            </h4>
                            <div class="divider mb-2"></div>
                            <div class="product-card__price">{{ product.price }} DT</div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>
    </center>
{% endblock %}
<br><br><br><br>

{% block footer %}
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->

        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
{% endblock %}
<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

