
{% extends 'back.html.twig' %}

{% block title %}Princeps Tech{% endblock %}


{% block body %}
<!DOCTYPE html>
<html lang="en">           
{{include ('back.html.twig')}}


  <div class="container position-sticky z-index-sticky top-0">
    
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('../assets/img/illustrations/image.png'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                
                  <h4 class="font-weight-bolder">modifier Produit</h4>
                {# </div>
                
                <div class="card-body">
                  <form role="form">
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">libelle</label>
                      
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Quantite</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Prix</label>
                      <input type="text" class="form-control"> #}
                    </div>


                                 {{ form_start(ProduitForm,{'attr':{'novalidate' : 'novalidate'}}) }}

                  <div class="input-group input-group-outline mb-3">
                                        <label class="form-label">{{ form_label(ProduitForm.libelle)}}</label>
                                        {{ form_widget(ProduitForm.libelle, {'attr': {'class': 'form-control'}})}}
                                                                              {{form_errors(ProduitForm.libelle)}}

                                    </div>

                                     <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">{{ form_label(ProduitForm.Quantite)}}</label>
                                    {{ form_widget(ProduitForm.Quantite, {'attr': {'class': 'form-control'}})}}
                                                                          {{form_errors(ProduitForm.Quantite)}}

                                </div>

                                      <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">{{ form_label(ProduitForm.prix)}}</label>
                                    {{ form_widget(ProduitForm.prix, {'attr': {'class': 'form-control'}})}}
                                                                          {{form_errors(ProduitForm.prix)}}

                                </div>

                                <div class="input-group input-group-outline mb-3">
                                    <label class="form-label">{{ form_label(ProduitForm.Description)}}</label>
                                    {{ form_widget(ProduitForm.Description, {'attr': {'class': 'form-control'}})}}
                                                                          {{form_errors(ProduitForm.Description)}}

                                </div>

                                <div class="input-group input-group-outline mb-3">
                                    {{ form_widget(ProduitForm.idSousCat, {'attr': {'class': 'form-control'}})}}
                                                                          {{form_errors(ProduitForm.idSousCat)}}

                                </div>
                                <div class="input-group input-group-outline mb-3">
                                    {{ form_widget(ProduitForm.imageP, {'attr': {'class': 'form-control'}})}}
                                                                          {{form_errors(ProduitForm.imageP)}}

                                </div>
                                 <div class="text-center">
                                        {{ form_widget(ProduitForm.Update, {'attr': {'class': 'btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0'}})}}
                                    </div>
                      {{form_end(ProduitForm)}}                    
                    {# <div class="form-check form-check-info text-start ps-0">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                      <label class="form-check-label" for="flexCheckDefault">
                        I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                      </label>
                    </div> #}   
                    {# <div class="text-center">
                      <button type="button" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">ajouter</button>
                    </div> #}
                  </form>
                </div> 
                {# <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="../pages/sign-in.html" class="text-primary text-gradient font-weight-bold">Sign in</a>
                  </p>
                </div> #}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=3.0.0"></script>
</body>

</html>
{% endblock %}