{% extends 'menu.html.twig' %}
{% block title %}Commande # {{ order.id }}{% endblock title %}

{% block shop_content %}

<header>
    <h1>Commande # {{ order.id }}</h1>
</header>
<div class="col-md col-lg-8 d-flex flex-column align-items-md-center">
        <div>
            <div class="shipping mb-4">
                <h4>Adresse de livraison</h4>
                <div>
                    {% set shipping = order.shippingAddress %}
                    {{ order.user.firstName }}
                    {{ order.user.lastName }}<br>
                    {{ shipping.address1 }}<br>
                    {% if shipping.address2 is not null %}
                        {{ shipping.address2 }}<br>
                    {% endif %}
                    {{ shipping.postCode}}<br>
                    {{ shipping.city }}<br>
                    <span>Tel:</span> {{ shipping.phone }}<br>
                </div>
            </div>

            <div class="billing">
                <h4>Adresse de facturation</h4>
                <div>
                    {% set billing = order.billingAddress %}
                    {{ order.user.firstName }}
                    {{ order.user.lastName }}<br>
                    {{ billing.address1 }}<br>
                    {% if billing.address2 is not null %}
                        {{ billing.address2 }}<br>
                    {% endif %}
                    {{ billing.postCode}}<br>
                    {{ billing.city }}<br>
                    <span>Tel:</span> {{ shipping.phone }}<br>
                </div>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead class="thead-responsive">
        <tr class="row">
            <th class="col-md-6 col-lg-4">Produit</th>
            <th class="col-md-2 col-lg">Prix</th>
            <th class="col-md-2 col-lg">Quantité</th>
            <th class="col-md-2 col-lg">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for product in order.products %}
            <tr class="row">
                <td class="col-md-6 col-lg-4">
                    <div class="row">
                    {% set thumb = product.product.images|first %}
                        <div class="col-md">
                            <img src="/img/upload/{{ thumb.name }}" alt="{{ thumb.description }}" class="img img-fluid">
                        </div>
                        <div class="col-md">
                            {{ product.product.name }}
                        </div>
                    </div>
                </td>
                <td class="col-md-2 col-lg">
                    {{ product.product.price }} DT
                </td>
                <td class="col-md-2 col-lg">
                    {{ product.quantity }}
                </td>
                <td class="col-md-2 col-lg">
                    {{ product.product.price * product.quantity }} DT
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Livraison: {{ order.shippingMethod.fee }} DT</p>
<p>Total: {{ order.transaction.total }} DT</p>
<p>status : {{order.status}} </p>
           

{% endblock %}